@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Heebo:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
    body {
        @apply font-sans bg-background text-accent antialiased;
    }
}

/* Custom Scrollbar for that 'Premium' feel */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}